.wrapperContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
    background-color: #111;
    padding: 5.5rem 0;
}

.mainHeading {
    color: var(--color-white);
    font-size: 4.125rem;
    font-weight: 500;
}

.mainDescription {
    color: var(--color-white);
    font-size: 1.125rem;
    font-weight: 500;
    opacity: 0.3;
    padding: 3.25rem 0;
    line-height: 162.523%;
}

.mainImage {
    width: 27.71944rem;
}

.emailAddress {
    width: 27.375rem;
    height: 4.625rem;
    border-radius: 2.6875rem;
    opacity: 0.1;
    background: var(--color-white);
    padding: 0 4rem;
    border: none;
    outline: none;
}

.letsTalk {
    width: 8.5625rem;
    height: 3.875rem;
    border-radius: 2.6875rem;
    background: #e3b748;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    line-height: 162.523%;
    border: none;
    position: absolute;
    left: 18.5rem;
    top: 0.335rem;
}

.talkInfo {
    position: relative;
}

.messageImage {
    position: absolute;
    left: 1.5rem;
    top: 1.55rem;
    opacity: 0.1;
}
