.cardWrapper {
    border-radius: 0.875rem;
    border: 1.4px solid rgba(255, 255, 255, 0.1);
    background: #1d1d1d;
    width: 22.4375rem;
    height: 23.5625rem;
    padding: 1.5rem;
}

.subHeading {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.25rem 0;
}

.subDescription {
    color: var(--color-white);
    font-size: 0.875rem;
    font-weight: 500;
    opacity: 0.3;
    padding: 0.75rem 0 1.25rem;
}

.btnReadMore {
    border-radius: 1.46875rem;
    background: #e3b748;
    border: none;
    width: 7.5625rem;
    height: 2.6875rem;
    color: #000;
    font-size: 0.875rem;
    font-weight: 600;
}
